[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "goft"]
	path = goft
	url = https://github.com/cran/goft
	shallow = true
	registered = true
[submodule "mvShapiroTest"]
	path = mvShapiroTest
	url = https://github.com/cran/mvShapiroTest
	shallow = true
	registered = true
